@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
  --color-primary: rgb(49, 58, 70);
  --color-secondary: rgb(114, 124, 245);
  --color-inactive: rgb(250, 92, 124);
  --color-active: rgb(10, 207, 150);
  --color-background: rgb(245, 246, 250);
  --light-border: rgb(201, 198, 198);
  --input-background: rgb(241, 243, 250);
  --event-heartbeat: red;
  --event-elect: yellow;

  --event-size: 20px;
  --box-shadow-default: 0px 0px 8px 1px rgba(0,0,0,0.21);
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
}

#app {
  font-family: 'Roboto', sans-serif;
}