.btn-link:hover, .btn-link {
    color: white;
}

.card {
    background-color: var(--color-primary);
    width: 100%;
}
.card-body {
    background-color: white;
}

.btn:focus {
    box-shadow: none;
}