.active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.list-group {
    min-width: 100%;
}

.list-group-item {
    border-right: none;
    border-left: none;
    font-weight: var(--small-font-weight);
    font-size: var(--small-font-size);
}

.event-description {
    text-decoration: underline;
    text-decoration-color: var(--light-border);
}