body {
  font-family: 'Roboto', sans-serif;
}

#nodes {
  height: 600px;
  width: 600px;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 auto 10em;
}

.list-item {
  list-style: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 0;
}

.list-item:not(:last-child) {
  border-bottom: none;
}

.cluster-container {
  padding: 10em 0 10em 0;
}

#info-container {
  min-height: 80vh;
}

.spinner-grow {
  color: var(--color-secondary);
}

.card {
  width: 12rem;
  box-shadow: var(--box-shadow-default);
}

.headerActive {
  background-color: var(--color-active);
}
.headerStopped {
  background-color: var(--color-inactive);
}

.blank-row {
  height: 50px;
}

.btn-light {
  border-color: var(--light-border)
}

.red {
  color: var(--color-inactive);
}

.green {
  color: var(--color-active);
}

.eventParticle {
  position: absolute;
}

.card-up {
  z-index: 5;
}

.notification {
  background: white;
  border-color: var(--color-inactive);
  border-radius: 6px;
  color: var(--color-inactive);
}

.errored {
  font-size: 180px !important;
  color: var(--light-icon);
}