.row {
    margin-bottom: 10px;
}

.form-control {
    background-color: var(--input-background);
}

.btn {
    background-color: var(--color-secondary);
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

@supports (-moz-appearance:none) {
    select
    {
        -moz-appearance:none !important;
    }
}
